{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Changed Password" %}{% endblock %}

{% block content %}

<div class="col col-10 offset-1 logout-message">
    <hr>
    <h2 class="logo-font font-crayola mb-4">{% trans "Changed Password" %}</h2>
    <hr>

    <p class="font-crayola logout-p ">{% trans 'Your password is now changed.' %}</p>

        <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Continue reading</a>
    </form>

</div>
{% endblock %}